<%= render "shared/header" %>
<% if @recruitments.blank?%>
   <div class="recruitment-blank text-center mt-5">
      <h3>現在募集中の求人はありません</h3>
   </div>
<% else %>
   <h2 class="text-center mt-5">現在掲載している求人情報</h2>
   <% @recruitments.each do |recruitment| %>
   <h3 class="text-center mb-5 mt-5"><%=link_to "#{recruitment.name}の詳細ページ",company_recruitment_path(@company,recruitment) %></h3>
   <div class="recruitment card mb-5">
      <div class="recruitment-images d-flex justify-content-between">
         <% recruitment.images.each do |image| %>
            <%= image_tag image, class:'images mb-5'%>
         <% end %>
      </div>
      <div class="recruit-info card-body">
         <h3 class="recruit-category text-center mb-5">
            <%= recruitment.name %>
         </h3>
         <div class="recruit-form d-flex justify-content-around">
            <h5 class="recruit-category mb-3">
               <%= recruitment.category %>
            </h5>
            <h4 class="card-title mb-3">
               <%= recruitment.work %>
            </h4>
         </div>
         <hr>
         <div class="card-text d-flex justify-content-around mt-5">
            <div>
               <h4 class="text-center">給与</h4>
               <%= recruitment.price %>
            </div>
         <div>
            <h4 class="text-center">勤務日</h4>
            <%= recruitment.work_day%>
         </div>
         <div>
            <h4 class="text-center">勤務時間</h4>
            <%= recruitment.work_time%>
         </div>
      </div>
      <hr>
      <div class="card-text mt-5">
         <h3 class="text-center">勤務地住所</h3>
         <div class="address-group d-flex justify-content-center">
            <div class="address-category ml-2">
               <%= recruitment.prefecture.name%>
            </div>
            <div class="address-category ml-2">
               <%= recruitment.city%>
            </div>
            <div class="address-category ml-2">
               <%= recruitment.address%>
            </div>
            <div class="address-category ml-2">
               <%= recruitment.building%>
            </div>
         </div>
      </div>
      <hr>
      <div class="card-text mt-5">
         <div class="address-category">
            <%= recruitment.pr%>
         </div>
      </div>
   </div>
</div>
<% end %>
<%= render "shared/btnrecruit" %>
<% end %>
