<%= render "shared/header" %>
<div class="recruitment-index">
   <%= "#{@company.name}の求人情報ページ" %>
     <% if @company_recruitment.blank? %>
     <h2>現在掲載している求人情報はありません</h2>
        <%= link_to "求人情報を作成する", new_company_recruitment_path(@company.id)%>
     <% else %>
        <h2>現在掲載している求人情報</h2>
        <% @recruitments.each do |recruitment| %>
        <%= link_to "#{recruitment.category}の募集内容を変更する", edit_company_recruitment_path(@company, recruitment) %>
        <%=link_to "#{recruitment.category}の詳細を見る", company_recruitment_path(@company, recruitment)%>
        <%= link_to "#{recruitment.category}の掲載求人を取り消す", company_recruitment_path(@company, recruitment), method: :delete %>
        <%= link_to "新しい求人情報を作成する", new_company_recruitment_path(@company)%>
     <% end %>
   <% end %>
</div>
