<div class="recruitment-main">
  <div class='form-header'>
    <h1 class='form-header-text text-center mt-5'>
      求人募集の作成
    </h1>
  </div>
  <%= form_with model: [@company, @recruitment], local: true do |f| %>
<div class="card recruit-body" style="width: 60rem;">
  <div class="img-upload text-center">
    <div class=" weight-bold-text">
      <h3 class="mt-5">求人に載せる写真</h3>
    </div>
    <div class="click-upload">
      <p>３枚まで選択できます
        クリックしてファイルをアップロード
      </p>
      <%= f.file_field :images, class: "text-center", name: 'recruitment[images][]', id: "company_image" %>
    </div>
    <div class="recruit-image d-flex justify-content-center", id="image-list" ></div>
      <% @recruitment.images.each do |image| %>
        <%= image_tag image, class: 'images mb-5' %>
      <% end %>
  </div>
    <div class="recruit-image", id="image-list" ></div>
    <div class="card-body">
      <hr>
      <h3 class="card-title text-center m-5">募集内容の入力</h3>
      <hr>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-around">
          <div class="card-title d-flex flex-column mt-2"><h5>業種を入力してください</h5>
            <%= f.text_field :category, class:"category mt-2", id:"category", placeholder:"例) 居酒屋" %>
          </div>
          <div class="card-title d-flex flex-column mt-2"><h5>勤務日を入力してください</h5>
            <%= f.text_field :work_day, class:"work_day mt-2", id:"work_day", placeholder:"例) 何月 何日" %>
          </div>
        </li>
        <li class="list-group-item text-center">
          <h4>勤務内容を入力してください</h4>
          <%= f.text_area :work, class:"work m-5", id:"work", placeholder:"例) ホールスタッフ募集！
      簡単な接客やテーブルの片付けなど" %>
          <div class="work-info d-flex justify-content-around text-center">
            <div class="work-time-info">
              <h5>勤務時間</h5>
              <%= f.text_field :work_time, class:"work-time mb-3", id:"work_time", placeholder:"例) AM◯:00~PM◯:00まで" %>
            </div>
            <div class="work-place-info">
              <h5>給与</h5>
              <%= f.text_field :price, class:"work-time mb-3", id:"price", placeholder:"例) 時給1000円" %>
            </div>
          </div>
        </li>
        <li class="list-group-item mt-5"><h3 class="text-center">勤務地情報を入力してください</h3>
          <div class="group-content d-flex justify-content-around">
            <div class="info-group">
              <div class="prefecture-info mt-5">都道府県
                <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"form-control border-dark mt-2", id:"prefecture"}) %>
              </div>
              <div class="city-info mt-4">市区町村
                <%= f.text_field :city, class:"city mt-2 mb-5", id:"city", placeholder:"例）横浜市緑区"%>
              </div>
            </div>
            <div class="info-group">
              <div class="address-info d-flex flex-column mt-5">番地
                <%= f.text_field :address, class:"address mt-2", id:"address", placeholder:"例）5-4"%>
              </div>
              <div class="building-info d-flex flex-column mt-4">建物情報
                <%= f.text_field :building, class:"building mt-2 mb-5", id:"building", placeholder:"例）◯◯ビル5階"%>
              </div>
            </div>
          </div>
        </li>
        <div class="pr-content card-body mt-5">
          <div class="pr-info text-center"><h3>お伝えしておくことや注意事項</h3>
            <%= f.text_area :pr, class:"pr form-control", id:"pr", placeholder:"例) ・お持ち頂くもの
            ・服装
            ・給与の支払い方法
            ・注意事項"%>
          </div>
        </div>
      </ul>
      <div class="actions d-flex justify-content-center">
        <%= f.submit "作成する" , class: "btn btn-outline-primary btn-lg"%>
      </div>
    </div>
  </div>
  <% end %>
</div>

