<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">アプリ名</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto d-flex justify-content-end">
    <%if @company_recruitment.blank?%>
      <li class="nav-item ml-3">
        <%= link_to "#{@company.name}の求人を募集する", new_company_recruitment_path(@company.id)%>
      </li>
      <li class="nav-item ml-3">
        <%= link_to "#{@company.name}のページ", company_path(current_user)%>
      </li>
      <li class="nav-item ml-3">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete%>
      </li>
    <% else %>
      <li class="nav-item ml-3">
        <%= link_to "#{@recruitment.category}の募集内容を変更する", edit_company_recruitment_path(@recruitment)%>
      </li>
      <li class="nav-item ml-3">
        <%= link_to "#{@recruitment.category}の掲載求人を取り消す", company_recruitment_path(@recruitment), method: :delete %>
      </li>
      <li class="nav-item ml-3">
        <%= link_to "#{@company.name}の求人一覧ページ", company_recruitments_path(@company) %>
      </li>
      <li class="nav-item ml-3">
        <%= link_to "#{@company.name}のページ", company_path(current_user) %>
      </li>
      <li class="nav-item ml-3">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    <% end %>
    </ul>
  </div>
</nav>