<h1>求人内容の確認</h1>
<%= @recruitment.category %>
<h2><%= @recruitment.pr%></h2>
<h4>勤務内容</h4>
<div><%= @recruitment.work %></div>
<div>給与</div>
<div><%= @recruitment.price%></div>
<div>勤務日</div>
<div><%= @recruitment.work_day%></div>
<div>勤務時間</div>
<div><%= @recruitment.work_time%></div>
<h4>勤務地住所</h4>
<div><%= @recruitment.prefecture.name%></div>
<div><%= @recruitment.city%></div>
<div><%= @recruitment.address%></div>
<div><%= @recruitment.building%></div>
<div>この内容でお間違い無ければ応募するをタップしてください</div>

<%= form_with model: @hunting, url: huntings_path, local: true do |f| %>
<%= f.hidden_field :recruitment_id, value: @recruitment.id%>
<%= f.submit "応募する" %>
<% end %>