<div class='form-info'>
  <h1 class='form-header-text text-center'>
    会社登録
  </h1>
  <div class='form-wrap text-center card'>
  <%= form_with model: @company, local: true do |f| %>
    <div class='form-header card-body'>
      <div class="img-upload">
          <h5 class="weight-bold-text">
            会社の写真
          </h5>
          <div class="click-upload">
            <p>
              クリックしてファイルをアップロード
            </p>
            <%= f.file_field :image%>
          </div>
          <div id="image-list"></div>
      </div>
    </div>
    <div class="form-group card-body">
      <div class='form-text-wrap d-flex justify-content-between'>
        <h5 class="form-text ml-5">会社名</h5>
        <div class='input-name-wrap mr-5'>
          <%= f.text_field :name, class:"input-name", id:"name", placeholder:"会社名を入力" %>
        </div>
      </div>
    </div>
    <div class="form-group card-body">
      <div class='form-text-wrap d-flex justify-content-between'>
        <h5 class="form-text ml-5">業種</h5>
        <div class='input-name-wrap mr-5'>
        <%= f.text_field :occupaion, class:"input-name", id:"occupaion", placeholder:"業種を入力" %>
        </div>
      </div>
    </div>
    <div class="form-group card-body">
      <div class='form-text-wrap d-flex justify-content-between'>
        <h5 class="form-text ml-5">電話番号</h5>
        <%= f.text_field :phone_number, class:"input-name mr-5", id:"phone-number", placeholder:"会社の番号を入力",maxlength:"11"%>
      </div>
    </div>
    <div class='shipping-address-form'>
      <h4 class='info-input-haedline'>
        住所
      </h4>
      <div class="form-group card-body">
        <div class='form-text-wrap d-flex justify-content-between'>
          <h5 class="form-text ml-5">都道府県</h5>
          <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box mr-5", id:"prefecture"}) %>
        </div>
      </div>
      <div class="form-group card-body">
        <div class='form-text-wrap d-flex justify-content-between'>
          <h5 class="form-text ml-5">市区町村</h5>
          <%= f.text_field :city, class:"input-default mr-5", id:"city", placeholder:"例）横浜市緑区"%>
        </div>
      </div>
      <div class="form-group card-body">
        <div class='form-text-wrap d-flex justify-content-between'>
          <h5 class="form-text ml-5">番地</h5>
          <%= f.text_field :address, class:"input-default mr-5", id:"address", placeholder:"例）5-4"%>
        </div>
      </div>
      <div class="form-group card-body">
        <div class='form-text-wrap d-flex justify-content-between'>
          <h5 class="form-text ml-5">建物情報</h5>
          <%= f.text_field :building, class:"input-default mr-5", id:"building", placeholder:"例）◯◯ビル5階"%>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "登録", class: "btn-lg btn-primary"%>
    </div>
  </div>
  <% end %>