<%= render "shared/companyheader" %>
<div class="company-show">
   <h2 class="company-info text-center">会社情報</h2>
   <% if @user.blank? %>
      <h3 class="company-info text-center">現在登録されている会社はございません</h3>
      <h3 class="company-info text-center"><%= link_to "会社を登録する", new_company_path%></h3>
   <% else %>
      <h2 class="company-title text-center mb-5">現在登録している会社</h2>
      <div class="company-body card" style="width: 44rem;">
         <%= image_tag @company.image%>
         <div class="company-contents  d-flex justify-content-center">
            <div class="card" style="width: 22rem;">
               <div class="card-header">
                  事業内容
               </div>
               <ul class="list-group list-group-flush">
                  <li class="list-group-item"><%= "#{@company.occupaion}"%></li>
               </ul>
               <div class="card-footer">
                  電話番号
               </div>
               <ul class="list-group list-group-flush">
                  <li class="list-group-item"><%= "#{@company.phone_number}"%></li>
               </ul>
            </div>
            <div class="card" style="width: 22rem;">
               <div class="card-header">
                  住所情報
               </div>
               <ul class="list-group list-group-flush">
                  <li class="list-group-item"><%= "#{@company.prefecture.name}"%></li>
                  <li class="list-group-item"><%= "#{@company.city}"%></li>
                  <li class="list-group-item"><%= "#{@company.address}"%></li>
                  <li class="list-group-item"><%= "#{@company.building}"%></li>
               </ul>
            </div>
         </div>
      </div>
   <% end %>
<div>
